# PANDAS
This exercise is for you to practice your pandas skills! We will be using the [Games](https://www.kaggle.com/gutsyrobot/games-data/data) Dataset from Kaggle!.

#### Import pandas and read in the Games csv file and set it to a DataFrame called gms

In [1]:
# your code here-
import pandas as pd
gms = pd.read_csv('games.csv')

#### Check the head of the DataFrame.

In [2]:
# your code here-
gms.head()

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
0,12333,boardgame,Twilight Struggle,2005.0,2.0,2.0,180.0,180.0,180.0,13.0,20113,8.33774,8.22186,26647,372,1219,5865,5347,2562,3.4785
1,120677,boardgame,Terra Mystica,2012.0,2.0,5.0,150.0,60.0,150.0,12.0,14383,8.28798,8.14232,16519,132,1586,6277,2526,1423,3.8939
2,102794,boardgame,Caverna: The Cave Farmers,2013.0,1.0,7.0,210.0,30.0,210.0,12.0,9262,8.28994,8.06886,12230,99,1476,5600,1700,777,3.7761
3,25613,boardgame,Through the Ages: A Story of Civilization,2006.0,2.0,4.0,240.0,240.0,240.0,12.0,13294,8.20407,8.05804,14343,362,1084,5075,3378,1642,4.1590
4,3076,boardgame,Puerto Rico,2002.0,2.0,5.0,150.0,90.0,150.0,12.0,39883,8.14261,8.04524,44362,795,861,5414,9173,5213,3.2943

####  Use .info() method to find out total number of entries in dataset

In [70]:
# your code here-
gms.info(verbose = False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81312 entries, 0 to 81311
Columns: 20 entries, id to average_weight
dtypes: float64(10), int64(8), object(2)
memory usage: 12.4+ MB

#### How many rows and columns are present in the dataset?

In [6]:
# your code here-
gms.shape

(81312, 20)

#### What is the highest number of comments received for a game?

In [7]:
# your code here-
gms['total_comments'].max()

11798

#### What is the name of the game with id 1500?

In [10]:
# your code here-
gms[gms['id']==1500].name.tolist()

['Zocken']

#### Which games have received the least number of comments?

In [23]:
# your code here-
pd.DataFrame(gms[gms['total_comments']== gms['total_comments'].min()].name.tolist())

                                                       0
0                                             Looney Leo
1                                                   Dump
2                                          Field of Fire
3                                               Matheeno
4      Auction America: The Trivia Game for Any Colle...
...                                                  ...
28996                               Micro Rome: Aegyptus
28997  Trivial Pursuit: Marvel Cinematic Universe  Da...
28998                                          BEARanoia
28999                                            Freight
29000                                  Bingo Animal Kids

[29001 rows x 1 columns]

#### Which games have received the highest number of comments?¶

In [18]:
# your code here-
gms[gms['total_comments']== gms['total_comments'].max()].name.tolist()

['Catan', 'Catan']

#### How many unique games are there in the dataset?

In [22]:
# your code here-
gms['name'].nunique()

76035

#### How many boardgames and boardgameexpansions are there in the dataset?

In [67]:
# your code here-
pd.DataFrame(gms['type'].value_counts())

                     type
boardgame           70820
boardgameexpansion  10492

#### What is the mean playin time for all games put together ?

In [54]:
# your code here-
gms['playingtime'].mean()

51.63478827682052

#### Is there a correlation between playing time and total comments for the games? hint:- Use the .corr() function

In [58]:
# your code here-
gms['playingtime'].corr(gms['total_comments'])

0.020645113746224596

# KEEP UP THE GOOD WORK!!!